
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: lightcyan; */
}

.header li , button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1C6DD0;
  text-decoration: none;
}

.nav_a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1C6DD0;
  text-decoration: none;
}


.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  
  /* background-color: lightblue; */
  align-items: center;
  padding: 5px 10%;
}

.header-dark {

  background-color: rgba(0, 0, 0, whitesmoke) !important;

}

.logo {
  cursor: pointer;
  color: #1C6DD0;
  padding-top: 2px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.nav_links li a:hover {
  color: #548CFF;
  transition: 0.5s;
}

button {
  padding: 9px 25px;
  background-color: white;
  color: #1C6DD0;
  border: 2px solid #1C6DD0;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #1C6DD0;
  color: whitesmoke;
  transition: 0.5s;
}

body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
}

span {
  text-decoration: underline;
}

h1 {
  /* margin-top: 100px; */
  line-height: 2;
  color: #1C6DD0;
  font-family: 'Outfit', sans-serif;
  font-size: 5.5rem;
}

.profile {
  height: 100vh;
  align-items: center;
  text-align: center;
}

.profile-picture {
  width: 250px;
  padding-bottom: 30px;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #119998;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
}

p {
  line-height: 2;
}

/* hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}  */

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding-top: 0px;
  font-weight: bolder;
}

.sub {
  color: #1C6DD0;
  padding-bottom: 0px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 15px;
}

.main {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='579' preserveAspectRatio='none' viewBox='0 0 1440 579'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M1536 579L0 579 L0 436Q-21.67 342.33%2c 72 320.66Q142.69 319.35%2c 144 390.04Q174.16 348.2%2c 216 378.35Q234.07 324.43%2c 288 342.5Q312.13 294.63%2c 360 318.75Q456.27 295.02%2c 480 391.3Q492.68 331.98%2c 552 344.66Q619.38 292.04%2c 672 359.42Q731.06 346.48%2c 744 405.54Q790.63 380.17%2c 816 426.79Q824.51 363.3%2c 888 371.81Q931.55 343.36%2c 960 386.9Q1004.58 311.48%2c 1080 356.06Q1124.58 328.63%2c 1152 373.21Q1167.84 317.05%2c 1224 332.89Q1266.08 302.97%2c 1296 345.04Q1398.95 328%2c 1416 430.95Q1419.03 313.98%2c 1536 317.01z' fill='rgba(37%2c 70%2c 125%2c 1)'%3e%3c/path%3e%3cpath d='M1536 579L0 579 L0 434.35Q48.47 410.82%2c 72 459.29Q160.15 427.44%2c 192 515.59Q231.96 435.55%2c 312 475.51Q378.43 421.94%2c 432 488.37Q442.2 426.57%2c 504 436.77Q526.08 386.85%2c 576 408.92Q616.09 377.01%2c 648 417.1Q728.21 377.31%2c 768 457.53Q832.1 449.63%2c 840 513.72Q890.25 443.97%2c 960 494.22Q991.09 405.31%2c 1080 436.4Q1100.56 384.96%2c 1152 405.52Q1225.43 406.95%2c 1224 480.38Q1289.3 425.68%2c 1344 490.97Q1386.78 461.75%2c 1416 504.52Q1429.6 398.12%2c 1536 411.71z' fill='rgba(53%2c 108%2c 177%2c 1)'%3e%3c/path%3e%3cpath d='M1536 579L0 579 L0 609.21Q23.67 512.88%2c 120 536.56Q193.72 490.28%2c 240 564Q250.66 502.66%2c 312 513.33Q356.94 486.27%2c 384 531.2Q471.73 498.93%2c 504 586.67Q554.83 517.5%2c 624 568.32Q681.34 553.66%2c 696 611.01Q729.21 524.22%2c 816 557.43Q861.82 531.25%2c 888 577.07Q914.73 483.8%2c 1008 510.52Q1062.94 445.46%2c 1128 500.4Q1194.12 494.52%2c 1200 560.64Q1244.68 533.32%2c 1272 578Q1313.81 547.81%2c 1344 589.61Q1365.15 538.76%2c 1416 559.91Q1466.71 490.62%2c 1536 541.32z' fill='rgba(138%2c 202%2c 220%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='579' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  position: relative;
  height: 100vh;
  padding-top: 7rem;
}



.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilly-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0px;
}

.bottom-container {
  background-color: #1C6DD0;
  padding: 20px 0 10px;
}

.footer-link:hover {
  color: #EAF6F6;
}


.intro {
  width : 30%;
  margin: auto;
}

.contact-me {
  margin-top: 150px;
  margin-bottom: 100px;
}

.contact-message {
  width: 40%;
  margin: 20px auto 40px;
}

.btn {
  background-color: #30E3CA;
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.btn:hover {
  background-color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.8rem;
  padding: 10px 0px;
}


span {
  color: #1C6DD0 !important;
}
